.sourceCode {
    margin-top: 0 !important;
    max-height: none !important;
}
div.sourceCode {
    margin-bottom: 0 !important;
}
pre.sourceCode {
    font-size: 0.47em;
    border: 1px solid black;
}
#refs {
    font-size: 0.8em;
}
